.back {
  background-color: rgb(25, 24, 30);
}

.about-section {
  font-family: Arial, sans-serif;
  color: white;
  line-height: 1.8;
  padding: 1px;
  height: 450px;
}

.about-title {
  text-align: center;
  color: #590;
  /* Green heading */
  margin-bottom: 20px;
}

.about-text {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 30px;
}


@media (max-width: 480px) {
  .about-section {
    font-family: Arial;
    color: white;
    line-height: 1.5;
    font-size: small;
  }

  .profile img {
    width: 90%;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0px 0px 200px 0px rgba(48, 16, 205, 0.488);
  }
}